<h1>Contact</h1>

<div class="p-4">
  <p class="fst-italic">You can find me on the following links:</p>
  <ol class="list-unstyled">
    <li><a href="https://github.com/mateusflorez" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/mateuspaz/" target="_blank">LinkedIn</a></li>
    <li><a href="https://www.behance.net/mateusfpaz" target="_blank">Behance</a></li>
  </ol>
</div>
