<div class="mt-4 p-5 bg-light rounded mb-4 text-center">
    <h1>Contacts on Rails</h1>
    <p>
        Manage your contacts wherever you go!
    </p>
    <p>
        <%= link_to 'Create account', '#', class: 'btn btn-primary btn-lg' %>
    </p>
</div>
