<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to 'CONTACTS ON RAILS', root_path, class: 'd-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none' %>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-cent"er mb-md-0>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <%= link_to 'Sign-up', new_user_path, class: 'btn btn-warning' %>
        </div>
      </div>
    </div>
  </header>
